@use "../abstracts" as *;

.feature{

    background-color:rgba($clr-white,0.9);
    color:$clr-primary-shade;
    padding:2rem;
    border-radius: 0.5rem;
    @include flex-col-center;
    gap:1rem;
    transition: all 0.5s;


    &__icon{

     height: 5.4rem;
  
    }
    &__txt{
        text-align: center;
        font-size:1.6rem;
    }

    &:hover{
        transform: translateY(-1rem);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}
