@use "../abstracts/variables" as *;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
    font-weight:400;
    line-height: 1.7;
    color:$clr-txt;
   
 
}
@media (min-width:44em){

    body{
    
        padding:2rem;
     
    }  
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}


a{
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;


}
button{
    border:none;
    cursor: pointer;
    text-transform: capitalize;
    display: inline-block;
}

ul{
    list-style: none;
}
strong{
    text-transform: capitalize;
}