.center-txt{
    text-align: center;
}
.margin-bt-l{
    margin-bottom: 6rem;
}
.margin-bt-m{
    margin-bottom: 4rem;
}
.margin-bt-xs{
    margin-bottom:0.5rem;
}

.margin-tp-sm{
    margin-top:2rem;
}
.margin-tp-m{
    margin-top:4rem;
}
.margin-tp-l{
    margin-top:6rem;
}