//colors
$clr-primary:#55c57a;
$clr-primary-shade:#28b485;
$clr-primary-tint:#7ed567;

$clr-secondary:#ff7730;
$clr-secondary-light:#ffb900;

$clr-tertiary:#5643fa;
$clr-tertiary-light:#2998ff;

$clr-txt:#777;
$clr-black:#000;
$clr-gray-light-1:#f1f1f1;
$clr-white:#fff;



//font sizes
$fs-txt:1.6rem;

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


$border-radius:0.5rem;