.header{
    background-image:linear-gradient(to right bottom,
    rgb(126, 213, 111,0.8) ,
    rgba(40, 180, 133, 0.8)),
     url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 97vh;
    clip-path: polygon(0 0,100% 0, 100% 80vh ,0 100%);
    color:#fff;
  
    &__logo-box{
        padding:3rem;
    }
    &__logo{
        height: 3.5rem;
    }


    &__hero-content{
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        height: 60%;
        padding: 0 0.5rem;
    }

}
